//COLORS
$mic-color: #ff0000;
$background-color: #f4f6fb;
$mic-fill-color: lighten(
  $color: $mic-color,
  $amount: 15%
);
$function-button-fill: #302666;
$border-color: #d8dfe6;
$light-theme-color: #f2f3ee;
$light-theme-color-secondary: #d2eef7;
$light-shadow: 3px 3px 16px 0px rgba(207, 207, 207, 1);

.tui-image-editor-menu {
  visibility: hidden;
  height: 0px;
}

.tui-image-editor-controls {
  background-color: white !important;
}

.Entities {
    margin-top: 30px;
    min-height: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    &__list {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        }
        & > * {
        margin-top: 10px;
        }
    }
}

.Entity {
    max-height: 38px;
    display: inline;
    white-space: nowrap;
    border-radius: 6px;
    color: white;
    margin-right: 5px;
    padding: 8px 10px 6px 10px;
    font-weight: 600;
    transition-property: background-color;
    transition: linear 200ms;
}


.Words {
    line-height: 2.5;
    min-height: 35px;
    display: flex;
    margin-left: -5px;
    flex-wrap: wrap;
    align-items: baseline;
    padding-right: 0px;
    color: "red";

    &__matching-elements {
        white-space: nowrap;
        margin: 10px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 4px;
        padding-bottom: 2px;
        position: relative;
    }
    & > div {
        padding-left: 5px;
    }
}
  
.Word {
    &--tentative {
        color: silver;
    }
}

.Segment {
    background-color: #fff;
    margin: 5px 8px;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid "red";
    &__metadata {
        border-top: 1px solid "red";
        &__title {
            text-transform: uppercase;
            font-weight: 600;
            color: #6c757d;
            font-size: 12px;
        }
    }

    & > * {
    padding: 20px;
    }
}

.HelpText {
  color: #787878;
}

.ApiBrowser {
  width: 100%;
  max-height: 70vh;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  &__onboardingmessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-align: center;
  }
}

.AudioContexts {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 10;

  &__placeholder {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20vh;
    padding: 1rem;
    text-align: center;
  }
}

.Intents {
  display: flex;
  flex-direction: column;
  & > * {
    margin-top: 10px;
  }
}

.Microphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh !important;

  &__loading {
    position: absolute;
  }

  &__start {
    border-radius: 1.5rem !important;
    padding: 1rem !important;
  }

  &__button {
    display: inline-flex;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: none;
    border: none;
    margin: auto;
    transform-origin: bottom center;
    width: 50%;

    svg {
      width: 100%;
      outline: none;
      transition: all 0.5s;
      transition-timing-function: ease-in-out;
      transform-origin: bottom center;
      overflow: visible;
      max-height: 7vh;
      fill: $function-button-fill;
    }

    object {
      margin-top: 2vh;
      margin-bottom: 3vh;
      vertical-align: middle;
      display: table-cell;
      width: 100%;
      max-height: 5vh;
    }

    @media only screen and (min-width: 768px) {
      width: 28%;
    }

    @media only screen and (min-width: 1024px) {
      width: 20%;
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }

    &__loading {
      padding: 2vh 3vh !important;
    }

    &__active {
      svg {
        transform-origin: bottom center;
        fill: $mic-fill-color;
        transform: scale(1.8) !important; // important is required to override the more specific :hover selector
      }
    }

    &__inactive {
      transform: none;
      opacity: 0.3;

      svg {
        transition: none;
      }
    }
  }

  &__help {
    display: inline-flex;
    margin: 1vh;
    text-align: center;
    transition: all 0.5s;

    /* smartphones, touchscreens */
    @media (hover: none) and (pointer: coarse) {
      display: none;
    }

    &--hidden {
      opacity: 0;
    }
  }
}